<div class="trending-card">
  <div class="head">
    <span>Trends</span>
    .
    <a>Change</a>
  </div>
  <ul class="trending-topics">
    <li class="trending-topics__item trending-topics__item--promoted" *ngFor="let trend of trendList?.promotedTrends">
      <a href="" class="trend-label">{{trend.name}}</a>
      <a class="promoted">promoted</a>
    </li>
    <li class="trending-topics__item" *ngFor="let trend of trendList?.otherTrends">
      <a href="" class="trend-label">{{trend.name}}</a>
    </li>
  </ul>
</div>
