@import "../../../assets/common";

.trending-card {
  @extend .card;
  height: 250px;
  padding: 15px 0 15px 12px;
  @media (max-width:375px)  {
    margin-left: 10px;
  }
  a {
    color: #1da1f2;
    cursor: pointer;
  }
  .head {
    span {
      font-size: 20px;
      font-weight: 200;
    }
  }
  .trending-topics {
    list-style: none;
    padding: 0;
    line-height: 19px;
    &__item {
      .promoted {
        margin-left: 20px;
      }
    }
  }
}
