.tweet {
  border-bottom: 1px solid #dddddd;
  padding: 12px;
  display: flex;
  &__user-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .right {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    .head {
      display: flex;
      justify-content: space-between;
      .user-name {

        &__full {
          font-weight: bold;
          margin-right: 5px;
        }
        &__screen-name {
          font-weight: 400;
          font-size: 12px;
          color: grey;

        }

      }
    }
    .text {

    }
    .actions {
      display: flex;
      .fas {
        color: grey;
        cursor: pointer;
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }

  }
}
