<div class="tweet">
  <img [src]="tweet?.user?.profile_image_url" alt="" class="tweet__user-image">
  <div class="right">
    <div class="head">
      <div class="user-name">
        <label class="user-name__full">{{tweet?.user?.name}}</label>
        <label class="user-name__screen-name">@{{tweet?.user?.screen_name}}</label>
      </div>
      <label>{{tweet?.created_at | dateFormat}}</label>
    </div>
    <div class="text">
      <p>{{tweet?.text}}</p>
    </div>
    <div class="actions">
      <i class="fas fa-reply"></i>
      <i class="fas fa-retweet"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-ellipsis-h"></i>
    </div>
  </div>
</div>
