<div class="company-card">
  <span>@2019 Twitter</span>
  <span class="link">About</span>
  <span class="link">Help</span>
  <span class="link">Terms</span>
  <span class="link">Privacy</span>
  <span class="link">Cookies</span>
  <span class="link">Adds Info</span>
  <span class="link">Brand</span>
  <span class="link">Blog</span>
  <span class="link">Status</span>
  <span class="link">Apps</span>
  <span class="link">Jobs</span>
  <span class="link">Advertise</span>
  <span class="link">Media</span>
  <span class="link">Developers</span>
</div>
