@import "../../../assets/common";

.company-card {
  @extend .card;
  height: 100px;
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  @media (max-width:375px)  {
    margin-left: 10px;
  }
  @media (max-width:768px)  {
    height: 130px;
  }
  span {
    color: grey;
    transition: color 500ms;
    margin-right: 13px;
    &.link:hover {
      cursor: pointer;
      color: $primary-blue;
      text-underline: $primary-blue;
    }

  }
}
