<div class="user-card">
  <img [src]="user?.profile_image_url" alt="">
  <div class="stats">
    <div class="stats__item">
      <label>Tweets</label>
      <span>{{user?.statuses_count}}</span>
    </div>
    <div class="stats__item">
      <label>Following</label>
      <span>{{user?.friends_count}}</span>
    </div>
    <div class="stats__item">
      <label>Followers</label>
      <span>{{user?.followers_count}}</span>
    </div>
  </div>
  <twitter-lite-compose-form (formSubmit)="onFormSubmit($event)"></twitter-lite-compose-form>
</div>
