@import "../../../assets/common";
@import "../../../assets/buttons";

.user-card {
  @extend .card;
  @media (max-width:375px)  {
    height: 200px;
    margin-left: 10px;
  }
  height: 250px;
  display: flex;
  flex-direction: column;
  transition: height 200ms ease-in;
  &.form-focus {
    height: 300px;
  }
  img {
    flex-basis: 60%;
  }
  .stats {
    display: flex;
    justify-content: space-around;
    flex-basis: 20%;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 33.3%;
      &:not(:last-of-type) {
        border-right: 1px solid #dddddd;
      }
    }
  }

  twitter-lite-compose-form {
    flex-basis: 20%;
    background-color: #dddddd;

  }
}
