@import "../../../assets/common";
@import "../../../assets/buttons";

#userSelectionPopup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-blue;
  overflow: hidden;
  .modal {
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 15px;
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      color: $primary-blue;
    }
    .actions {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

  }
}
