<div id="userSelectionPopup">
  <div class="modal">
      <h3>Sign in view Timeline</h3>
    <p *ngIf="user">Signed in as @{{user.screen_name}}</p>
    <div class="actions">
      <button *ngIf="user" class="cancel" (click)="hidePopup()">Cancel</button>
      <button class="signIn" (click)="launchTwitterAuth()">{{user ? 'Switch User' : 'Sign In'}}</button>
    </div>
  </div>
</div>
