@import "../assets/common";

.app-container {
  //width: 100vw;
  //height: 100vh;
  .app-body {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .left-pane {
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      @media (min-width:1024px)  {
        margin-right: 30px;
      }
      twitter-lite-user-card, twitter-lite-trending-topics {
        margin-bottom: 30px;
      }
    }
  }
}
