<twitter-lite-user-selection-popup></twitter-lite-user-selection-popup>
<div class="app-container">
    <twitter-lite-toolbar (launchUserSelection)="onLaunchUserSelection()"></twitter-lite-toolbar>
  <div class="app-body">
    <div class="left-pane">
      <twitter-lite-user-card [user]="user" (tweetPosted)="onTweetPosted($event)"></twitter-lite-user-card>
      <twitter-lite-trending-topics [trendList]="trendList"></twitter-lite-trending-topics>
      <twitter-lite-company-card></twitter-lite-company-card>
    </div>
    <div class="right-pan">
      <twitter-lite-timeline [timeline]="timeline"></twitter-lite-timeline>
    </div>
  </div>
</div>
