<div class="compose-form">
  <textarea id="tweetField" class="tweet-field" [rows]="textareaRows" cols="50" placeholder="Compose New Tweet" [(ngModel)]="tweet" (focus)="onFieldFocus()"></textarea>
  <div class="actions">
    <button class="md tweet-btn" [disabled]="!tweet" (click)="formSubmit.emit(tweet)">Tweet</button>
  </div>
</div>
