@import "../../../assets/common";
@import "../../../assets/buttons";

.compose-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 20%;
  padding:  4px;
  textarea {
    width: 95%;
    height: 90%;
    outline: none;
    box-shadow: none;
    transition: all .1s ease-in;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 14px;
    -webkit-box-shadow: none;
    border-radius: 6px;
    border: 2px solid #ddd;
    resize: none;
    color: #6495ed;
    margin-top: 8px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: lightgrey;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: lightgrey;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: lightgrey;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: lightgrey;
    }
  }
  .actions {
    width: 100%;
    display: none;
    margin-top: 5px;
    button {
      float: right;
    }
  }
}
