<div class="toolbar">
  <ul class="toolbar__left">
    <li class="toolbar__item">
      <i class="fas fa-home"></i>
      <span>Home</span>
    </li>
    <li class="toolbar__item">
     <i class="fas fa-at"></i>
     <span>Connect</span>
   </li>
    <li class="toolbar__item">
     <i class="fas fa-hashtag"></i>
     <span>Discover</span>
   </li>
    <li class="toolbar__item" (click)="launchUserSelection.emit(true)">
     <i class="fas fa-user"></i>
     <span>Me</span>
   </li>
  </ul>
  <ul class="toolbar__center">
    <li class="toolbar__item">
      <i class="fab fa-twitter"></i>
    </li>
  </ul>
  <ul class="toolbar__right">
  <li class="toolbar__item input-item">
      <span id="searchField">
        <input placeholder="Search">
        <i class="fas fa-search"></i>
      </span>
    </li>
    <li class="toolbar__item">
      <i class="far fa-envelope"></i>
    </li>
    <li class="toolbar__item">
      <i class="fas fa-cog"></i>
    </li>
    <li class="toolbar__item">
      <i class="fas fa-pen-fancy"></i>
    </li>
  </ul>
</div>


