@import "../../../assets/common";

.toolbar {
  background-color: $primary-blue;
  height: 40px;
  cursor: pointer;
  display: flex;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
    align-items: center;
    display: flex;
    &.toolbar__left {
      flex-basis: 40%;
      justify-content: flex-start;
      padding-left: 12px;
      .toolbar__item {
        margin-right: 24px;
      }
    }
    &.toolbar__center {
      flex-basis: 20%;
      justify-content: center;
    }
    &.toolbar__right {
      flex-basis: 40%;
      justify-content: flex-end;
      padding-right: 12px;
      .toolbar__item {
        &:not(:last-of-type) {
          margin-right: 24px;
        }
      }
    }
    .toolbar__item {
      color: #ffffff;
      span {
        font-size: 14px;
        margin-left: 5px;
        display: none;
        @media (min-width:1024px)  {
          display: inline;
        }
      }
      span, i {
        transition: opacity 500ms;
        &:hover{
          opacity: 0.6;
        }
      }
    }
  }
}

#searchField {
  border-radius: 10px;
  outline: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  height: 20px;
  width: 170px;
  padding: 3px 10px;

  input {
    color: inherit;
    background-color: transparent;
    outline: none;
    height: 30px;
    border: none;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ffffff;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #ffffff;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #ffffff;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #ffffff;
    }
  }

  i {
    font-size: 12px;
  }
}

