<div class="timeline">
  <div class="head">
    Tweets
  </div>
  <div class="tweets" *ngIf="timeline?.length > 0; else noTweets;">
    <twitter-lite-tweet *ngFor="let tweet of timeline" [tweet]="tweet"></twitter-lite-tweet>
  </div>
  <ng-template #noTweets>
    <div class="no-tweets">
      No Tweets yet. Start tweeting ...
    </div>
  </ng-template>

</div>
