@import "../../../assets/common";

.timeline {
  @extend .card;
  width: 215px;
  @media (min-width:641px)  {
    width: 400px;
  }
  @media (min-width:1024px)  {
    width: 500px;
  }
  .head {
    border-bottom: 1px solid #dddddd;
    height: 30px;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
    color: grey;
  }



  .no-tweets {
    font-size: 24px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: #dddddd;
  }
}
