@import "common";
button {
  border-radius: 15px;
  width: 200px;
  height: 50px;
  border: 1px solid $primary-blue;
  background-color: $primary-blue;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 300ms, color 500ms;
  outline: none;
  &.md {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  &:hover:not(:disabled) {
    background-color: #ffffff;
    color: $primary-blue;
  }
  &:disabled {
    background-color: burlywood;
    border: #dddddd;
    color: #ffffff;
    cursor: not-allowed;
  }
}
