// Colors
$primary-blue: #1da1f2;



// card
.card {
  box-shadow:  1px 1px 1px 1px #ccc;
  border-radius: 5px;
  width: 150px;
  box-sizing: border-box;
  font-size: 8px;
  @media (min-width:641px)  {
    font-size: 12px;
    width: 200px;
  }
  @media (min-width:1024px)  {
    font-size: 14px;
    width: 300px;
  }
}
